@font-face {
    font-family: pacifico;
    src: url(fonts/Pacifico.ttf);
}
@font-face {
    font-family: Karla;
    src: url(fonts/Karla-Regular.ttf);
}
@font-face {
    font-family: Karla;
    src: url(fonts/Karla-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Karla;
    src: url(fonts/Karla-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Karla;
    src: url(fonts/Karla-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

.menu{
  background-color: black;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.menu .logo{
  height: 50px;
  margin: 10px auto;
  padding-top: 10px;
  flex-basis: 100%;

}
.menu ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;

}

.menu li{
  font-family: Karla;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
  display: inline-block;
  max-width: 70%;
}

.clear_both{
  clear:both;
}

.banner{
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, .35) 0%,
  rgba(0, 0, 0, 0.25)100%),
  url('../images/kayak-bkgd.jpg');
  background-position: top center;
  background-size: cover;
  height: 700px;
}

.banner h1 {
  margin: 0 auto;
  color: white;
}

.page-title-enjoy{
  font-family: Karla;
  text-transform: uppercase;
  display: block;
  font-size: 25px;
  padding: 150px 0px 0px;
}

.cursive {
  font-family: pacifico;
  display: block;
  font-size: 50px;
}

.big {
  font-size: 55px;
}

.hilite {
  color: white;
  font-size: 21px;
  background-color: rgba(0,0,0,0.5);
  margin: 20px 20px;
  padding: 5px 0px;
  font-family: Karla;
}

.register {
  background-color: #FF5656;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  border-radius: 500px;
  padding: 15px;
  border: 0px;
  margin-top: 20px;
}

.about {
  color: #646464;
  text-align: center;
}

.about h2 {
  font-family: pacifico;
  font-size: 55px;
}

.about p {
  font-family: Karla;
  font-size: 1em;
  line-height: 35px;
  color: black;
}

.align-left{
text-align: left;
margin: 0 5px;
color: black;
font-size: 1em;
}



.images{
text-align: center;
}

.square{
  margin: 10px 3px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  width: 95vw;
}

table {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    margin: 10px auto;
}
table, th, td {
    border: 1px solid rgba(192, 192, 192, 1);
}
th, td {
  font-family: Karla;
  color: black;
  font-size: 1em;
  padding: 1em 0;
}

th {
  background-color: rgba(230, 230, 230, 1);
}


table td:first-child{
text-align: left;
margin-left: 0px;
padding-left: 0.5em;
}

.information {
  background-color: #212121;
  text-align: center;
  font: 1em;
  color: white;
  padding: 55px;
}

.information ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}

.address {
  color: #646464;
}

.icon_name{
  display: none;
}


@media (min-width: 720px){

.menu ul{
    justify-content: space-around;
  }
.hilite {
    margin: 20px 75px;
    }
.images{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  }

.menu .logo{
  flex-basis: 45%;

  }
.menu ul{
  flex-basis: 45%;
  align-self: center;
  }
.square{
  margin: 10px 3px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  width: 32%;
  height: auto;
  }

  .large_screen{
    display: flex;
    flex-wrap: wrap;
  }

  .about.align-left, table{
    flex-basis: 49%;
    }

    table{
      width: 48%;
    }

    iframe{
      width: 95%;
      margin: 0 auto;
      background-color: green;
    }


  .information{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    height: 250px;
    justify-content: center;
  }
  .contact_main{
    max-width: 45%;
    text-align: left;
    padding-left: 1em;
  }
  .icon_name{
    display: inline;
    font: 1em;
    color: white;
    text-decoration: none;
    padding-left: 0.5em;
  }
  .information ul {
    max-width: 45%;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
  .information ul li {
    margin-left: 200px;
    padding: 4px;
  }

}

@media (min-width: 1024px){

}
